{{#*inline "error_messages"}}
  {{#if errors}}
    <div class="alert alert-danger mt-3">
      <ul class="mb-0">
        {{#each errors}}
          <li>{{this.message}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
{{/inline}}

{{#*inline "customer_fields"}}
<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label">First Name*</label>
    <input type="text" class="form-control" name="firstName" value="{{customer.firstName}}" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Last Name*</label>
    <input type="text" class="form-control" name="lastName" value="{{customer.lastName}}" required>
  </div>
</div>

<div class="mb-3">
  <label class="form-label">Address</label>
  <input type="text" class="form-control" name="address" value="{{customer.address}}">
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label">City</label>
    <input type="text" class="form-control" name="city" value="{{customer.city}}">
  </div>
  <div class="col-md-4">
    <label class="form-label">State</label>
    <input type="text" class="form-control" name="state" value="{{customer.state}}">
  </div>
  <div class="col-md-2">
    <label class="form-label">ZIP*</label>
    <input type="text" class="form-control" name="zip" value="{{customer.zip}}" 
           pattern="\d{5}(-\d{4})?" title="5 or 9 digit ZIP code" required>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-6">
    <label class="form-label">Phone*</label>
    <input type="tel" class="form-control" name="phone" value="{{customer.phone}}"
           pattern="[\d\-\(\)\s]{10,}" title="10 digit phone number" required>
  </div>
  <div class="col-md-6">
    <label class="form-label">Email*</label>
    <input type="email" class="form-control" name="email" value="{{customer.email}}" required>
  </div>
</div>
{{/inline}}