<h1>Customer Details</h1>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{customer.firstName}} {{customer.lastName}}</h5>
    <p class="card-text">
      <strong>Address:</strong> {{customer.address}}, {{customer.city}}, {{customer.state}} {{customer.zip}}<br>
      <strong>Phone:</strong> {{customer.phone}}<br>
      <strong>Email:</strong> {{customer.email}}
    </p>
    <a href="/customers/{{customer.id}}/edit" class="btn btn-warning">Edit</a>
    <a href="/customers" class="btn btn-secondary">Back to List</a>
  </div>
</div>
